:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

@font-face {
    font-family: 'Outfit';
    src: url(../Outfit-VariableFont_wght.ttf);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    margin: 0;
    background-color: var(--Light-gray);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-card{
    background-color: var(--White);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1.5rem;
}

@media (min-width: 400px) {
    .section-card{
        max-width: 39rem;
    }
}

.imagen{
    width: 100%;
}

.imagen img{
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
}

.titulo{
    font-family: 'Outfit';
    font-size: 2.2rem;
    font-weight: 700; 
    text-align: center;
    color: var(--Dark-blue);
    margin: 2rem 2rem;
}

.descripcion{
    font-family: 'Outfit';
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: var(--Grayish-blue);
    margin: 0rem 2rem 2rem 2rem;
}